

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 400px;
    height: 600px;
    background-color: rgb(137, 138, 138);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #696a6b; 
    color: #363636; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  
  button {
    background-color: #dde6e1;
    color: rgb(53, 52, 52);
    border: none;
    cursor: pointer;
    margin-left: 80px;

}

button:hover {
    background-color: #0056b3;
}
  /* Rest of your CSS */
/* Default styles for all screen sizes */
body {
  font-size: 16px;
}

/* Styles for screens smaller than 600px (e.g., mobile phones) */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Styles for screens between 601px and 1024px (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}

/* Styles for screens larger than 1024px (e.g., desktops) */
@media (min-width: 1025px) {
  body {
    font-size: 20px;
  }
}
  
