.user-circle {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(19, 19, 19);
	padding:10px;
  }
  
  .circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #6e7070;
	color: rgb(39, 39, 39);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	margin-right: 10px;


  }
  
  .username {
	font-size: 16px; 
  }
  .update-button {
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;

  }
