

<div *ngFor="let user of Searchuser" class="user-circle" (click)="selectUser(user)">
  <div class="circle">{{ user.username.charAt(0).toUpperCase() }}</div>
  <div class="message-content">
  <div>{{ user.username }}</div>
    <p *ngIf="lastMessages && lastMessages[user.userid]">
      <!-- {{ lastMessages[user.userid].content}} -->
      {{ lastMessages[user.userid].content.slice(0, 30) + (lastMessages[user.userid].content.length > 30 ? '...' : '') }}
      <span class="message-timestamp">
        {{ lastMessages[user.userid].timestamp | date:'shortTime':'UTC' }}
      </span>
    </p>
    <p *ngIf="lastMessages || lastMessages[user.userid]"></p>
  </div>
</div>









